*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
.gradle/
build/
*/build/
local.properties
*.iml
.idea/
.gradle/
build/
*/build/
local.properties
*.iml
.firebase/
gradle-user/.firebase-npx-cache/
gradle-user/

.firebase-npx-cache/
gradle-user/
gradle-user/
.gradle-user/
